# Python
__pycache__/
*.pyc
*.pyo

# Base de données
data/app.db
data/*.db

# Environnement virtuel
venv/
.env

# macOS
.DS_Store

# IDE
.vscode/
*.zip

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
